<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <f:view>
            <h:outputLabel value="hello admin" rendered="#{roleView.admin}">
                <h:dataTable var="user" value="#{usersList.users}">
                    <h:column>
                        #{user.id}
                    </h:column>
                    <h:column>
                        #{user.name}
                    </h:column>
                    <h:column>
                        #{user.surname}
                    </h:column>
                    <h:column>
                        #{user.login}
                    </h:column>
                    <h:column>
                        #{user.password}
                    </h:column>
                    <h:column>
                        #{user.email}
                    </h:column>
                    <h:column>
                        #{user.authorization}
                    </h:column>
                    <h:column>
                        #{user.role}
                    </h:column>
                    <h:column>
                        <h:button outcome="user_edit" value="#{msg.edit}">
                            <f:param name="userId" value="#{user.id}"/>
                        </h:button>
                    </h:column>
                    <h:column>
                        <h:form>
                            <h:commandButton value="#{msg.delete}" actionListener="#{usersList.delete(user)}"/>
                        </h:form>
                    </h:column>

                </h:dataTable>
                <h:form>
                </h:form>
                <h:button outcome="add_user" value="#{msg.addUser}"> </h:button>

            </h:outputLabel>
        </f:view>
    </ui:define>
</ui:composition>
