<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <f:view>
            <h:form method="post" action="j_security_check">
                <h:panelGrid columns="2">
                    <h:outputLabel for="j_username" value="Username"/>
                    <input type="text" id="j_username" name="j_username"/>
                    <h:outputLabel for="j_password" value="Password"/>
                    <input type="password" id="j_password" name="j_password"/>
                    <input type="submit" name="submit" value="Login"/>
                </h:panelGrid>
                <h:dataTable var="product" value="#{productsList.products}">
                    <h:column>
                        <f:facet name="header">#{msg.description}</f:facet>
                        #{product.name}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg.availability}</f:facet>
                        #{product.available}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg.price}</f:facet>
                        #{product.price}
                    </h:column>
                    <h:column>
                        <f:facet name="header">#{msg.seller}</f:facet>
                        #{product.seller.name} #{product.seller.surname}
                    </h:column>
                    <!--<h:column>-->
                    <!--&lt;!&ndash;<h:form rendered="#{productsList.user.id != product.seller.id}" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<h:commandButton actionListener="#{productsList.addToShoppingCart(product.id)}"&ndash;&gt;-->
                    <!--&lt;!&ndash;value="#{msg.addToShoppingCart}"/>&ndash;&gt;-->
                    <!--&lt;!&ndash;</h:form>&ndash;&gt;-->
                    <!--</h:column>-->
                </h:dataTable>
            </h:form>
        </f:view>

    </ui:define>
</ui:composition>