<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        #{msg.orders}
        <ui:repeat value="#{ordersList.orders}" var="order">
            ----------------------
            <h:dataTable var="product" value="#{order.products}">
                <h:column>
                    #{product.name}
                </h:column>
                <h:column>
                    #{product.price}
                </h:column>
                <h:column>
                    #{product.seller.name} #{product.seller.surname}
                </h:column>
            </h:dataTable>
        </ui:repeat>
    </ui:define>
</ui:composition>
