<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:dataTable var="product" value="#{ownProductsList.products}">
            <h:column>
                #{product.name}
            </h:column>
            <h:column>
                #{product.available}
            </h:column>
            <h:column>
                #{product.price}
            </h:column>
            <h:column>
                #{product.seller.name} #{product.seller.surname}
            </h:column>
            <h:column>
                <h:form rendered="#{product.available}">
                    <h:commandButton actionListener="#{ownProductsList.removeProduct(product.id)}"
                                     value="#{msg.delete}"/>
                </h:form>
                <h:button outcome="product_edit" value="#{msg.edit}">
                    <f:param name="productId" value="#{product.id}"/>
                    <f:param name="editMode" value="true"/>
                </h:button>
            </h:column>
        </h:dataTable>
        <h:button outcome="product_edit" value="#{msg.create}">
            <f:param name="editMode" value="false"/>
        </h:button>
    </ui:define>
</ui:composition>
