<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="productId" value="#{productEdit.productId}"/>
        <f:viewParam name="editMode" value="#{productEdit.editMode}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <f:facet name="header">
                    <h:outputText value="#{msg.product}"/>
                </f:facet>
                <h:outputLabel value="#{msg.name}" for="name"/>
                <h:inputText id="name" value="#{productEdit.product.name}"/>
                <h:outputLabel value="#{msg.price}" for="price"/>
                <h:inputText id="price" value="#{productEdit.product.price}"/>
            </h:panelGrid>
            <h:commandButton actionListener="#{productEdit.saveProduct}" value="#{msg.save}"/>
        </h:form>
    </ui:define>
</ui:composition>