<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:dataTable var="product" value="#{productsList.products}">
            <h:column>
                <f:facet name="header">#{msg.description}</f:facet>
                #{product.name}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.availability}</f:facet>
                #{product.available}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.price}</f:facet>
                #{product.price}
            </h:column>
            <h:column>
                <f:facet name="header">#{msg.seller}</f:facet>
                #{product.seller.name} #{product.seller.surname}
            </h:column>
            <h:column>
                <h:form rendered="#{productsList.user.id != product.seller.id}" >
                    <h:commandButton actionListener="#{productsList.addToShoppingCart(product.id)}"
                                     value="#{msg.addToShoppingCart}"/>
                </h:form>
            </h:column>
        </h:dataTable>
        #{productsList.user.name} #{productsList.user.surname}
    </ui:define>
</ui:composition>

