<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
        <h:form>
            <f:facet name="header">
                <h:outputText value="#{msg.shoppingCart}"/>
            </f:facet>

            <h:dataTable var="product" value="#{shoppingCartEdit.products}">
                <h:column>
                    #{msg.name}: #{product.name}
                </h:column>
                <h:column>
                    #{msg.price}: #{product.price}
                </h:column>
                <h:column>
                    <h:commandButton actionListener="#{shoppingCartEdit.removeFromCart(product.id)}"
                                     value="#{msg.removeFromShoppingCart}"/>
                </h:column>
            </h:dataTable>
            <h:commandButton actionListener="#{shoppingCartEdit.save}" value="#{msg.save}"/>
        </h:form>
    </ui:define>
</ui:composition>
