<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Alledrogo</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Wanna be Allegro" />
    <meta name="keywords" content="shop,buy,some,dumb,ass" />
    <meta name="author" content="Us" />
    <h:outputStylesheet library="default" name="css/styles.css"/>
    <f:loadBundle basename="pl.codementors.finalproject.view.messages" var="msg"/>
</h:head>
<h:body>
    <header>
        <h1>#{msg.shop}</h1>
    </header>
    <nav>
        <ul>
            <!--need to be changed!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
            <li><h:link outcome="index" value="#{msg.home}"/></li>
            <li><h:link outcome="users_list" value="#{msg.products}"/></li>
            <li><h:link outcome="own_products_list" value="#{msg.ownProducts}"/></li>
            <li><h:link outcome="orders_list" value="#{msg.orders}"/></li>
            <li><h:link outcome="shopping_cart_edit" value="#{msg.goToShoppingCart}"/></li>
            <!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!111111111111111-->
        </ul>
    </nav>
    <section>
        <ui:insert name="content"/>
    </section>
    <footer>&#169; Copyright 2018 <a href="http://codementors.pl/">http://codementors.pl/</a></footer>
</h:body>
</html>