<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <ui:define name="content">
            <h:form>
                <h:button outcome="user_edit" value="#{msg.editAcc}">
                    <f:param name="userId" value="#{roleView.currentUser.name}"/>
                </h:button>
                <h:button outcome="own_products_list" value="#{msg.auctions}">
                    <f:param name="userId" value="#{ownProductsList.products}"/>
                </h:button>
                <h:button outcome="orders_list" value="#{msg.orders}">
                    <f:param name="userId" value="#{ordersList.orders}"/>
                </h:button>
                <h:button outcome="shopping_cart_edit" value="#{msg.checkBasket}">
                    <f:param name="userId" value="#{shoppingCartEdit.products}"/>
                </h:button>
            </h:form>
    </ui:define>
</ui:composition>
