<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml">
    <f:metadata>
        <f:viewParam name="userId" value="#{userEdit.userId}"/>
    </f:metadata>
    <ui:define name="content">
        <h:form>
            <h:panelGrid columns="2">
                <f:facet name="header">
                    <h:outputText value="#{msg.user}"/>
                </f:facet>
                <h:outputLabel value="#{msg.name}" for="name"/>
                <h:inputText id="name" value="#{userEdit.user.name}"/>

                <h:outputLabel value="#{msg.surname}" for="surname"/>
                <h:inputText id="surname" value="#{userEdit.user.surname}"/>

                <h:outputLabel value="#{msg.login}" for="login"/>
                <h:inputText id="login" value="#{userEdit.user.login}"/>

                <h:outputLabel value="#{msg.password}" for="password"/>
                <h:inputText id="password" value="#{userEdit.user.password}"/>

                <h:outputLabel value="#{msg.email}" for="email"/>
                <h:inputText id="email" value="#{userEdit.user.email}"/>

                <h:outputLabel value="#{msg.authorization}" for="authorization"/>
                <h:inputText id="authorization" value="#{userEdit.user.authorization}"/>

                <h:outputLabel value="#{msg.role}" for="role"/>
                <h:inputText id="role" value="#{userEdit.user.role}"/>
            </h:panelGrid>
            <h:commandButton actionListener="#{userEdit.saveUser}" value="#{msg.save}"/>
        </h:form>
    </ui:define>
</ui:composition>

